<article class="summary-classic" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
  <div class="summary-classic__flex-box" {{ if eq ($.Param "sidebarPosition") "left" }}data-position="left"{{ end }}>

    {{ if and (or ($.Param "featured_image") ($.Param "summary_image")) (eq ($.Param "sidebarPosition") "right") }}
    <div class="summary-classic__image-container summary-classic__image-wrapper{{ if ($.Param "summary_image") }}2{{ end }}" {{ if eq ($.Param "sidebarPosition") "left" }}data-position="left"{{ else }}data-position="right"{{ end }} data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}">
      <a href="{{ .Permalink }}">
        <img data-src="{{ if $.Param "summary_image" }}{{ with $.Param "summary_image" }}{{ .src | relURL }}{{ end }}{{ else }}{{ (print "images/" ($.Param "featured_image")) | relURL }}{{ end }}" alt="{{ $.Param "title" }}" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23aaa' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4.44-6.19l-2.35 3.02-1.56-1.88c-.2-.25-.58-.24-.78.01l-1.74 2.23c-.26.33-.02.81.39.81h8.98c.41 0 .65-.47.4-.8l-2.55-3.39c-.19-.26-.59-.26-.79 0z'/%3E%3C/svg%3E" class="lazyload summary-classic__image" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}" style="{{ with $.Param "summary_image" }}height: {{ .height }};max-width: {{ .maxWidth }};object-fit: {{ .objectFit }};{{ end }}"/>
      </a>
    </div>
    {{ else if and (or ($.Param "image") ($.Param "summary_image")) (eq ($.Param "sidebarPosition") "right") }}
    <div class="summary-classic__image-container summary-classic__image-wrapper{{ if ($.Param "summary_image") }}2{{ end }}" {{ if eq ($.Param "sidebarPosition") "left" }}data-position="left"{{ else }}data-position="right"{{ end }} data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}">
      <a href="{{ .Permalink }}">
        <img data-src="{{ if $.Param "summary_image" }}{{ with $.Param "summary_image" }}{{ .src | relURL }}{{ end }}{{ else }}{{ $.Param "image" | relURL }}{{ end }}" alt="{{ $.Param "title" }}" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23aaa' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4.44-6.19l-2.35 3.02-1.56-1.88c-.2-.25-.58-.24-.78.01l-1.74 2.23c-.26.33-.02.81.39.81h8.98c.41 0 .65-.47.4-.8l-2.55-3.39c-.19-.26-.59-.26-.79 0z'/%3E%3C/svg%3E" class="lazyload summary-classic__image" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}" style="{{ with $.Param "summary_image" }}height: {{ .height }};max-width: {{ .maxWidth }};object-fit: {{ .objectFit }};{{ end }}"/>
      </a>
    </div>
    {{ end }}

    <div class="summary-classic__content">
      <header>
        <h5 class="title h5"><a href='{{ .Permalink }}'>{{- with .Params.pinned -}}📌&nbsp;{{- end -}}{{ .Title }}</a> </h5>
        <h6 class="subtitle caption">
          <time title="{{ i18n "tooltip-written" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">📅&nbsp;{{ .Date.Format (i18n "summary-dateformat") }} </time>
          {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
          <time title="{{ i18n "tooltip-modified" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}"> &middot; 📝&nbsp;{{ .Lastmod.Format (i18n "summary-dateformat") }} </time>
          {{ end }}
          <span title="{{ i18n "tooltip-reading-time" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}"> &middot; ☕&nbsp;{{ .WordCount }}&nbsp;{{ i18n "word-count" }} words</span><span><i class="iconfont icon-pricetags-sharp"></i>&nbsp;{{ if .Params.tags }}{{ range .Params.tags }}<a href="{{ "/en/tags/" | relURL }}{{ . | urlize}}">{{ . }}</a>&nbsp;{{ end }}{{ else }}{{ i18n "postMetaNoTag" }}{{ end }}</span>
          {{ with $.Param "author" }}
          &middot; <span title="{{ i18n "single-writtenBy" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">{{ if $.Param "authorEmoji" }}{{ $.Param "authorEmoji" }}{{ else }}✍️{{ end }}&nbsp;{{ . }}</span>
          {{ end }}
        </h6>
      </header>
      <div>
        <div class="summary-classic__text p2">
          {{ with .Params.description }}
            {{ . }}
          {{ else }}
            {{ .Summary | safeHTML }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ if and (or ($.Param "featured_image") ($.Param "summary_image")) (eq ($.Param "sidebarPosition") "left") }}
    <div class="summary-classic__image-container summary-classic__image-wrapper{{ if ($.Param "summary_image") }}2{{ end }}" {{ if eq ($.Param "sidebarPosition") "left" }}data-position="left"{{ else }}data-position="right"{{ end }} data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}">
      <a href="{{ .Permalink }}">
        <img data-src="{{ if $.Param "summary_image" }}{{ with $.Param "summary_image" }}{{ .src | relURL }}{{ end }}{{ else }}{{ (print "images/" ($.Param "featured_image")) | relURL }}{{ end }}" alt="{{ $.Param "title" }}" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23aaa' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4.44-6.19l-2.35 3.02-1.56-1.88c-.2-.25-.58-.24-.78.01l-1.74 2.23c-.26.33-.02.81.39.81h8.98c.41 0 .65-.47.4-.8l-2.55-3.39c-.19-.26-.59-.26-.79 0z'/%3E%3C/svg%3E" class="lazyload summary-classic__image" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" style="{{ with $.Param "summary_image" }}height: {{ .height }};max-width: {{ .maxWidth }};object-fit: {{ .objectFit }};{{ end }}"/>
      </a>
    </div>
    {{ else if and (or ($.Param "image") ($.Param "summary_image")) (eq ($.Param "sidebarPosition") "left") }}
    <div class="summary-classic__image-container summary-classic__image-wrapper{{ if ($.Param "summary_image") }}2{{ end }}" {{ if eq ($.Param "sidebarPosition") "left" }}data-position="left"{{ else }}data-position="right"{{ end }} data-hwm="{{ with $.Param "summary_image" }}{{ .hwm }}{{ end }}">
      <a href="{{ .Permalink }}">
        <img data-src="{{ if $.Param "summary_image" }}{{ with $.Param "summary_image" }}{{ .src | relURL }}{{ end }}{{ else }}{{ $.Param "image" | relURL }}{{ end }}" alt="{{ $.Param "title" }}" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'/%3E%3Cpath fill='%23aaa' d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 16H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1zm-4.44-6.19l-2.35 3.02-1.56-1.88c-.2-.25-.58-.24-.78.01l-1.74 2.23c-.26.33-.02.81.39.81h8.98c.41 0 .65-.47.4-.8l-2.55-3.39c-.19-.26-.59-.26-.79 0z'/%3E%3C/svg%3E" class="lazyload summary-classic__image" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}" style="{{ with $.Param "summary_image" }}height: {{ .height }};max-width: {{ .maxWidth }};object-fit: {{ .objectFit }};{{ end }}"/>
      </a>
    </div>
    {{ end }}

  </div>
  <hr />
</article>
